.adarea {
  background: #fef2f2;
  padding: 16px;

  span {
    margin-left: 40px;
    font-size: 24px;
  }

  .adlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;

    .ad {
      background: rgba(196, 196, 196, 0.2);
      border-radius: 2px;
      padding: 16px;

      span {
        font-size: 20px;
        margin: 0px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}
