.footer {
  border-top: 1px solid var(--gray-300);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;

  .container {
    width: 90vw;
    max-width: 1080px;
    margin: auto;
  }

  .copyright {
    margin: 2rem;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-top: 4rem;
    height: 6rem;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-top: 40rem;
  }
}
