:root {
  --red-50: #fef2f2;

  --gray-50: #fafafa;
  --gray-200: #f2e9e9;
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3;
  --gray-500: #737373;
  --gray-600: #525252;
  --gray-700: #404040;
  --gray-800: #262626;
  --gray-900: #171717;

  --wellow-300: #fde047;
  --wellow-400: #facc15;
  --wellow-500: #ca8a04;
}
/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}

body {
  color: var(--white);
  background-color: var(--red-50);
  font: 400 1rem 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
