.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 90vw;
  max-width: 1080px;
  margin: auto;

  .main {
    color: var(--gray-800);
    width: 50%;

    h1 {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 1rem;
    }

    form {
      display: inline-flex;
      color: (--gray-600);

      input {
        background: var(--gray-200);
        border: none;
        height: 2rem;
        width: 15rem;
        border-radius: 2px 0 0 2px;
        padding-left: 1rem;
        color: var(--gray-500);
      }

      button {
        background: var(--gray-200);
        border: none;
        height: 2rem;
        width: 2rem;
        border-radius: 0 2px 2px 0;
        color: var(--gray-500);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .image {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .hero {
    .main {
      h1 {
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 425px) {
  .hero {
    flex-direction: column-reverse;

    .main {
      height: 50%;
      text-align: center;

      width: 90vw;
      max-width: 1080px;

      p {
        display: none;
      }
    }

    .image {
      height: 50%;
    }
  }
}
