.reristearea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  width: 90vw;
  max-width: 1080px;
  margin: auto;

  h1 {
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--gray-200);
    box-sizing: border-box;
    border-radius: 2px;
    width: 30rem;
    height: 43rem;

    input {
      margin-bottom: 2rem;
      background: var(--gray-50);
      border: none;
      height: 3rem;
      width: 20rem;
      border-radius: 2px;
      padding-left: 1rem;
      font-size: 1rem;
    }

    button {
      height: 3rem;
      width: 20rem;
      border: none;
      background: var(--wellow-400);
      font-size: 1rem;
      border-radius: 2px;
      margin-bottom: 2rem;
    }

    button:hover {
      background: var(--wellow-300);
    }

    a {
      color: var(--wellow-500);
    }
  }
}
